/* style.css */ 
/* step 1

Keyframe logo animation. 
    Styling Guide:
        Animatoin starting width: 25px
        Grow to: 475px. 

        Starting opacity of 0 
        Ending opacity: 1. 

        Animation length: 5s 
        Animation should only happen when the page is loaded.*/

#logo {
    width: 25px;
    height: auto;
    animation: growFadeIn 5s forwards;
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

@keyframes growFadeIn {
    from {
        width: 25px;
        height: 0;
        opacity: 0;
    }
    to {
        width: 475px;
        height: auto;
        opacity: 1;
    }
}


/* step 2 
Styling Guide:
    Font: Poppins font (using Google fonts), serif as a backup.  
    Background Image: “concrete_seamless.png” 
    Backup color: #f1f1f1. */

body {
    font-family: 'Poppins', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
   /* background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;*/
}

/* step 3*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 3px solid #50c7c7;
}

/* step 4*/
.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* step 5 Style the links so that they have the same color even after they have been visited. */
.nav_links a {
    text-decoration: underline;
    color: black;
}

.nav_links a:visited {
    color: #001cbd;
    text-decoration: underline;
}
.nav_item a:hover {
    color: #001cbd;
    text-decoration: underline;
}


/* step 6
Style ONLY those header elements that are direct children of a card class - identify proper selector needed to do this.

Styling guide:
    background: #288088
    border: solid 2px, #45ADAD,
    padding: 20px of padding on the top and the bottom
    border-radius: 50px border-radius on the top left and right corners.

--> if corners aren't curving as expected, use inspect element to fix by utilizing a second selector. */

.card header {
    display: flex;
    background: #288088;
    border: solid 2px #45adad;
    padding: 20px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-basis: 450px;
    z-index: 0;
    flex-basis: 450px;
}

.card h4 {
    background: white;
    color: black;
    padding: 5px;
}

/*step 7*/
.card {
    flex-basis: 450px;
    flex-wrap: nowrap;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/*step 8*/
.pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*step 9*/ 
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    border: 10px solid #50c7c7;
    margin: 10px;
    width: 300px;
    height: auto;
}



/*step 11*/
@media (min-width: 900px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: left;
        padding: 20px;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}

/*step 12*/

    .card {
        flex-basis: 275px;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
}

    .pricing {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;

}


/*step13*/
header {
    position: sticky;
    top: 0;
    z-index: 10;
}

/*step14*/
@media all and (prefers-reduced-motion:reduce) {
    #logo {
        animation: none;
    }
}



/*step15-21*/
@media print {
    body {
        font-family: Arial, Helvetica, sans-serif;
        background: none;
    }
    
    .gallery {
        display: none;
    }

    .pricing {
        justify-content: flex-end;
    }

    .card {
        flex-basis: 325px;
        border: 2px solid #45addd;
    }

}
